/* mis estilospersonales */
/* NAVBAR MENU */
body {
    font-family: 'Sansita', sans-serif;
    color: $color-menu-texto;
}
section{
	background-color: $color-menu ;
}
.navbar{
	margin-bottom: 0px;
	border-radius:0px;
}

.navbar-default {
    background-color: $color-menu;
    border-color:  none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: $color-menu;
}
.navbar-default .navbar-brand {
	font-size: 22px; 
	font-family: 'Sansita', sans-serif;
	color: $color-menu-texto;
}
#bs-example-navbar-collapse-1{
	a{
		@include margen-menu;
	}
}
.margen-footer{
	margin: 30px 0px 30px 0px;	
}
.fa-search{
	color: $color-menu-texto;
}
.form-control{
	border-radius: 35px;
}
/* Seccion 1*/
.back-jugo{
	background-image: url(../img/fondo-nature.jpg);

	h1 {
		@include texto-naturaleza;
	}

	hr {
		@include barra;
	}
	h2{
		@include texto-ipsum;
	}

}
.nature-titl{
	font-size: 30px;
}

/* Seccion 3*/
.about-section{
	padding-bottom: 50px;
}

.tercera-seccion{

	padding-top: 50px;
	padding-bottom: 100px;
}
.texto-seccion-2{
	@include gallery-seccion;
}

/* Seccion 4*/
.tex-gallery{
	color: $color-menu-texto;
	margin-bottom: 35px;
	font-family: 'Sansita', sans-serif;
}
.gallery {

	p {
		@include gallery-seccion;
	}
} 
.gallery-1 {
	margin-top: 100px;
}
.gallery-2 {
	margin-bottom: 100px;
}

/* footer */
#footer-text {
	li{
		display: inline-block;
		a{
			@include foottercolortext;
		}
	}
}
.margin{
	margin-top: 30px;
	margin-bottom: 20px;
}
.icons {
	font-size: 25px;
	padding-left: 130px;
	
}
.fa-facebook-official{
	color: $color-facebook;
}
.fa-twitter-square{
	color: $color-twitter;
}
.fa-instagram{
color:	$color-instagram;
}
.fondo-footer {
	background-color: $color-footer;
}







