/* navbar  */
@mixin margen-menu{
	margin-left: 80px;
	margin-right: 80px;
	font-size: 18px;
	font-family: 'Sansita', sans-serif;
	color: $color-menu-texto;
}


/* mixin seccio  1 */
@mixin texto-naturaleza {
	color: $color-titulos;
	font-family: 'Sansita', sans-serif;
	font-size: $font-size-h1;
	margin-top: 300px;
}

@mixin texto-ipsum {
	color: $color-titulos;
	font-family: 'Sansita', sans-serif;
	margin-bottom: 300px;
	font-size: $font-size-h2;
}
@mixin barra {
	color: $color-titulos;
	margin-top: 30px;
	margin-bottom: 30px;
}
/* mixin seccio  2 */

@mixin gallery-seccion {
	font-family: 'Sansita', sans-serif;
	font-size: 16px;
	color: $color-menu-texto;
} 
/* mixin seccio  3 */
@mixin  tercera {
	margin-bottom: 100px;
	margin-top: 100px;
}
/* mixin footer */
@mixin foottercolortext {
	color: $colo-text-footer;
	font-size: 16px;
	font-family: 'Sansita', sans-serif;
	margin: 0px 10px 0px 10px;
}
