/* ejemplo */
$color-menu-texto:	#87da66;
$color-titulos:	#fff;
$color-facebook:	#3b5998;
$color-twitter:	#00aced;
$color-instagram:	#1dcaff;
$colo-text-footer:	#87da66;
$color-back-footer:	#0b0c13;
$font-size-h1:	40px;
$font-size-h2:	40px;