/* ejemplo */
$color-menu: #f9f9f9;
$color-menu-texto:	#071900;
$color-titulos:	#fff;
$color-facebook:	#3b5998;
$color-twitter:	#00aced;
$color-instagram:	#1dcaff;
$colo-text-footer:	#071900;
$color-fondo:	#ffffff;
$font-size-h1:	40px;
$font-size-h2:	40px;
$color-footer: #CCFFD3;